@use '../../theme/theme' as *;

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    & > main {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(20rem, 1fr));
        gap: 1rem;
        overflow-y: auto;
        max-height: 80vh;
        box-sizing: border-box;
    }

    & > header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        h1 {
            font-weight: 600;
            font-size: 1.4rem;
            color: $primary-dark;
        }
        button {
            transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            border: 1px solid darken($primary-light, 5);
            border-radius: 0.2rem;

            padding: {
                inline: 1rem;
                block: 0.2rem;
            }

            &:hover {
                background-color: darken($primary-light, 2);
                box-shadow: 0 0 0.5rem rgba(darken($primary-light, 5), 0.4);
            }

            &:active {
                background-color: darken($primary-light, 10);
                box-shadow: none;
            }

            @include base-button($primary-light, $primary-dark);
        }
    }
}
